<ion-header>
  <ion-navbar>
    <ion-title>Game Dashboard</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row class="summary-row">
      <ion-col col-7 class="time-icon-col">
        <ion-col col-2>
          <ion-icon ios="ios-calendar" name="calendar"></ion-icon>
        </ion-col>
        <ion-col col-10 class="time-col">
          <p class="details">
            {{objDate | date :'longDate'}}</p>
        </ion-col>
      </ion-col>
      <ion-col col-5 class="time-icon-col">
        <ion-col col-2>
          <ion-icon ios="ios-time" name="time"></ion-icon>
        </ion-col>
        <ion-col col-10 class="time-col">
          <p class="details">
            {{objDate | date :'shortTime'}}</p>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="progress-row">
      <ion-col col-12>
        <div class="progress-outer">
          <div [style.width]="trailProgress">
            <small>Progress</small>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="task-row">
      <ion-col col-12>
        <div *ngFor="let task of tasks;  let i=index">
          <ion-card *ngIf="i<1">
            <div class="image-holder">
              <img src="{{tasks[tasks.length-1].image}}" alt="">
            </div>
            <ion-card-content>
              <div class="row task-title">
                <ion-card-title>
                  {{tasks[tasks.length-1].title}}
                </ion-card-title>
                <ion-chip *ngIf="taskAccepted">
                  <ion-icon name="person" color="secondary"></ion-icon>
                  <ion-label>{{activePlayer.trail_name}}</ion-label>
                </ion-chip>
              </div>
              <p>
                {{tasks[tasks.length-1].description}}
              </p>
            </ion-card-content>
            <ion-row align-items-center justify-content-center *ngIf="!taskAccepted">
              <button ion-button icon-center round small color="secondary" (click)="assignTask(tasks[tasks.length -1].id)">
                <div>Accept</div>
              </button>
              <button ion-button icon-center round small color="danger" (click)="skipTask()">
                <div>Skip</div>
              </button>
            </ion-row>
            <ion-row align-items-center justify-content-center *ngIf="taskAccepted">
              <button ion-button icon-center round small color="secondary" (click)="completeTask('Completed')">
                <div>Completed</div>
              </button>
              <button ion-button icon-center round small color="danger" (click)="completeTask('Failed')">
                <div>Failed</div>
              </button>
            </ion-row>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="player-row" justify-content-center>
      <ion-list-header>
        Players
      </ion-list-header>
      <ion-row class="player-row">
        <ion-col col-3 align-self-center *ngFor="let player of players">
          <ion-icon class="person-icon" name="md-person"></ion-icon>
          <p class="player-name">{{player.trail_name}}</p>
          <p>{{player.health}}</p>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
