

page-dashboard {

  .scroll-content {
    padding: 0!important;
  }

  // Top Row
.summary-row {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: color($colors, gre);
    color: color($colors, dark);

    .chip .icon {
      background: color($colors, ora);
    }
  }

.summary-row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.date {
  font-size: 1.5em
}

.time-col {
  padding-left: 1em;
}

.time-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .location {
    font-size: 1.2em;
    text-align: center;
  }

  .icon {
    font-size: 1.2em;
    padding-right: .2em;
  }
}

#status-column {
  display: flex;
  flex-direction: row;
  padding-left: 2em;

  .icon {
  font-size: 2.5em;
  }

  #counter-labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #counters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    #hardship-person {
      align-self: flex-start;
      text-align: center;
      min-width: 75%
    }

    .tasks-completed {
      align-self: flex-start;
      width: 75%;
      color: color($colors, dark);

      .label {
        font-size: 1.75em;
        text-align: center;
      }
    }

    #active-tasker {
      width: 100%;
      .label {
        font-size: 1em;
      }
    }
  }
}

//Progress

.progress-row {
  padding: 2em 1em 0 1em;

  img {
    height: 2.75em;
  }
}

.progress-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.progress-label {
  padding-bottom: .4em;
}

.progress-outer {
  color: white;
  height: .75em;
  width: 100%;
  background-color: color($colors, dark);

  div {
        text-align: center;
        vertical-align: center;
        height: 100%;
        background-color: color($colors, ora);
        transition: width .4s ease-in-out;
    }
}

.wagon-outer {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .wagon-holder {
    width: 100%;
    transition: width .4s ease-in-out;

  }
}

//Task Card
.task-row {
  .card-holder {
    padding: .1em;
  }

  .image-holder {
    width: 100%;
    overflow: hidden;
    height: 12em;
  }

  .task-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    padding-bottom: 1em;
  }

  .card-title {
    font-size: 1.2em;
  }

  .card-content {
    padding: 0 1em 1em 1em;
  }

  .card-content p {
    font-size: 1em;
  }
}

//Player
.player-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.player-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  .rest_count {
    margin-top: .3em;
  }
}

.player-row h5 {
  width: 100%;
}

.person-icon {
  font-size: 3em;
  color: color($colors, dark);
}

.player-name {
  font-size: 1.4em;
  padding-bottom: .35em;
}
ion-col p {
  margin: 0;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


ion-range {
  width: 100%;
}

.alert-death {
  background-color: color($colors, danger);
  color: black;
}

}
