page-guide {

  .card-content {
    color: black!important;
  }

  .card-header, .icon {
    font-size: 1.5em;
    color: black!important;
    vertical-align: middle;
  }
  .icon {
    padding-right: .2em;
  }

}
