page-winner {


  .header-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    padding: 2.5em 3em;
    text-align: center;
    h2 {
      font-size: 3em;
    }

    p {
      font-size: 1.25em;
      margin-top: .3em;
    }
  }

  .start-game {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .winner-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3em;

    .list {
      width: 70%;
    }

    .item {
      background-color: color($colors, gre);
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .list-header {
      background-color: color($colors, gre);
      box-sizing: none;
    }


  }


}
