<ion-header>
  <ion-navbar color="dark">
    <ion-title>Add Players</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="form-row">
    <form (ngSubmit)="startGame()">
      <ion-list>
        <ion-list-header>Player 1</ion-list-header>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-input required maxlength="8" type="text" name="player_one" placeholder="Name" [(ngModel)]="players.one"></ion-input>
        </ion-item>
        <ion-list-header *ngIf="game.player_count > 1">Player 2</ion-list-header>
        <ion-item *ngIf="game.player_count > 1">
          <ion-icon name="person" item-left></ion-icon>
          <ion-input required maxlength="8" type="text" name="player_two" placeholder="Name" [(ngModel)]="players.two"></ion-input>
        </ion-item>
        <ion-list-header *ngIf="game.player_count > 2">Player 3</ion-list-header>
        <ion-item *ngIf="game.player_count > 2">
          <ion-icon name="person" item-left></ion-icon>
          <ion-input required maxlength="8" type="text" name="player_three" placeholder="Name" [(ngModel)]="players.three"></ion-input>
        </ion-item>
        <ion-list-header *ngIf="game.player_count > 3">Player 4</ion-list-header>
        <ion-item *ngIf="game.player_count > 3">
          <ion-icon name="person" item-left></ion-icon>
          <ion-input required maxlength="8" type="text" name="player_four" placeholder="Name" [(ngModel)]="players.four"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button type="submit" color="danger" round large icon-right>
        Start Game
        <ion-icon ios="ios-arrow-round-forward" name="arrow-round-forward"></ion-icon>
      </button>
    </form>
  </div>

</ion-content>
